<% 
	DIRECTIVE SAFE_OUTPUT_OPEN;
	var headContent = {
	include("/pages/template/head.html"){}
%>
<% include("/pages/includes/my97.html"){} %>
<script type="text/javascript">
		
	var oper;
	jQuery(function($) {
		// 页面方法
		oper = {
			width : 400,
			height : 500,
			form : document.form1,
			resetData:function() {
				form1.reset();
			},
			jichu:function(id){
				id = id || '0';
				if(id==0){
					Alert('请先保存基础信息！');
					return false;
				}
				var url = 'admin/choucha/'+id;
				form1.action = url;
				form1.submit();
				return true;
			},
			duixiang:function(id){
				id = id || '0';
				if(id==0){
					Alert('请先保存基础信息！');
					return false;
				}
				var url = 'admin/choucha/duixiang/'+id;
				form1.action = url;
				form1.submit();
				return true;
			},
			renyuan:function(id){
				id = id || '0';
				if(id==0){
					Alert('请先保存基础信息！');
					return false;
				}
				var url = 'admin/choucha/renyuan/'+id;
				form1.action = url;
				form1.submit();
				return true;
			},
			renyuan_sx:function(id,choucha){
				choucha = choucha || 'WU';
				if(choucha=="任务完成" || choucha=="任务执行"){
					Alert('任务已生成，无法修改！');
					return false;
				}
				if(!validForm()) {
					return false;
				}
				loading1();
				id = id || '0';
				var url = 'admin/choucha/renyuan_sx/'+id;
				form1.action = url;
				form1.submit();
				return true;
			},
			zhixing:function(id,choucha){
				loading1();
				id = id || '0';
				if(id==0){
					Alert('请先保存基础信息！');
					return false;
				}
				var url = 'admin/choucha/zhixing/'+id;
				form1.action = url;
				form1.submit();
				return true;
			}		
		};
		//显示Menu索引
		showMenu('page_zchoucha');
	});
	
	//分页
	var paginator = function(page) {
		oper.list();
	};
</script>

<%
};

var bodyContent = {
%>
	<form name="form1" action="" method="post"  class="form-inline" role="form">
		<!-- 菜单 -->
		<% include("/pages/template/menu.html"){} %>

<!--右侧部分布局开始-->
<div class="right-body">
    <!--右侧部分上部分布局开始-->
    <div class="head">
        <div class="head_one">
            <div class="navbar-custom-menu">
                <div class="nav-left">
                    <a href="admin/person"><img src="static/ssj/images/user_img.png" class="user-image"><span>${session.session_user.realname!session.session_user.username }</span></a>
                </div>
                <div class="nav-right"><a role="menuitem"  href="admin/logout"><img src="static/ssj/images/msg.png" class="user-image"></a></div>
            </div>
        </div>
        <div class="head_two">
            <!--<div class="nav-bar">旅游市场秩序监管“双随机”抽查系统</div>-->
            <div class="nav-bar-left"></div>
            <div class="nav-bar-right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!--右侧部分上部分布局结束-->

    <!--右侧部分下部分布局开始-->
    <div class="main">
		
		<div class="nav">
            <div class="nav-left">
                <img src="static/ssj/images/position.png">当前位置 : 新增抽查任务
            </div>
            <div class="nav-right">${nowTime} ${xingQi}</div>
        </div>

		<input type="hidden" name="model.id" value="${model.id}" />	
		<input type="hidden" name="model.choucha_status" value="${model.choucha_status}" />
		<input type="hidden" name="model.choucha_type" value="${model.choucha_type}" />
		<input type="hidden" name="model.choucha_zhuti" value="${model.choucha_zhuti}" />
		<input type="hidden" name="model.choucha_zhifa" value="${model.choucha_zhifa}" />
		
		<input type="hidden" name="model.zushu" value="${model.zushu}" />
		<input type="hidden" name="model.dxzs" value="${model.dxzs}" />	
		<!--详细内容列表-->
		<div class="content">
            <div class="content-body">
                <div class="content-body-head">
                    <span>新增抽查任务-执法人员</span>
                    <ul class="task_right">
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.jichu(${model.id!'0'});return false;">
                        <span class="task_right_before task_right-active"></span><span class="task_right task_right-active">基本信息</span>
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.duixiang(${model.id!'0'});return false;">
                        <span class="task_right_before task_right-active"></span><span class="task_right task_right-active">被查对象</span>
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.renyuan(${model.id!'0'});return false;">
                        <span class="task_right_before task_right-active"></span><span class="task_right task_right-active">执法人员</span>
                        </a>
                        </li>
                        <li><span class="task_right_before"></span><span class="task_right">生成任务</span></li>
                    </ul>
                </div>

                <div class="task-form">
                    <table class="table">
                		
                		<tr>
							<td>每组组员数</td>
							<td>
								<input class="form-control" type="text" name="model.jc_dxzs" value="${model.jc_dxzs }"  valid='vtext' validname='每组检查人数'  />	                        
							</td>
						</tr>
						
						<tr>
							<td>检查方式</td>
							<td>         
								<select name="model.jc_fangshi" class="form-control" valid="vselect" validname='检查方式'>
								<option value="-1">请选择所属区域</option>
								${flyfox.dictSelectsj('ssj_jcfs' , model.jc_fangshi!'')  }
								</select>
							</td>
						</tr>
						
                		<% 
						if(model.choucha_type=="定向抽查") {
						%>
                		<tr>
							<td>所属区域</td>
							<td>
								<select name="model.jc_fanwei" class="form-control" valid="vselect" validname='所属区域'>
								<option value="-1">请选择所属区域</option>
								${flyfox.dictSelectsj('ssj_zcdssqy' , model.jc_fanwei!'')  }
								</select>	                        
							</td>
						</tr>
                		<tr>
							<td>部门</td>
							<td>
								<select name="model.jc_bumen" class="form-control" valid="vselect" validname='部门'>
								<option value="-1">请选择部门</option>
								${flyfox.dictSelectsj('ssj_ssbm' , model.jc_bumen!'')  }
								</select>	                        
							</td>
						</tr>
                		<tr>
							<td>性别</td>
							<td>
								<select name="model.jc_sex" class="form-control" valid="vselect" validname='性别'>
								<option value="-1">请选择性别</option>
								${flyfox.dictSelectsj('ssj_xb' , model.jc_sex!'')  }
								</select>	                        
							</td>
						</tr>
						
						<tr>
							<td>职务</td>
							<td>
								<select name="model.jc_zhiwu" class="form-control" valid="vselect" validname='职务'>
								<option value="-1">请选择职务</option>
								${flyfox.dictSelectsj('ssj_zw' , model.jc_zhiwu!'')  }
								</select>	                        
							</td>
						</tr>
						<% 
			    			}
			    		%>
                	</table>
                    <div class="change-btn">
                        <ul class="task_right_reset">
                            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.renyuan_sx(${model.id!'0'},'${model.choucha_status!'WU'}');return false;"><span>筛选</span></a></li>
                            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.zhixing(${model.id!'0'});return false;"><span>生成任务</span></a></li>
                        </ul>
                    </div>
                </div>
				
				<table class="table table-striped table-bordered table-hover">
                            <thead>
								<tr>
									<th>序号</th>
									<th>主体名称</th> 
									<th>主体地址</th>
									<th>执法人员</th> 
								</tr>
							</thead>
                            <tbody>
							<% for(item in page.list){ %>
								<tr>
								<td>${itemLP.index }</td>
								<td>${item.zhuti_name}</td> 
								<td>${item.zhuti_address}</td>
								<td>${item.zhifa_name}</td> 
								</tr>
							<% } %>
							</tbody>
                            
                    </table>
                    <%include("/pages/includes/paginator.html"){} %>
				
                
            </div>

        </div>

	</div>
    <!--右侧部分下部分布局结束-->
</div>		
</form> 		
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE; 
%>