<% 
	DIRECTIVE SAFE_OUTPUT_OPEN;
	var headContent = {
	include("/pages/template/head.html"){}
%>
<% include("/pages/includes/my97.html"){} %>
<script type="text/javascript">
		
	var oper;
	jQuery(function($) {
		oper = {
			width : 400,
			height : 500,
			form : document.form1,
			resetData:function() {
				form1.reset();
			},
			jichu:function(id){
				id = id || '0';
				if(id==0){
					Alert('请先保存基础信息！');
					return false;
				}
				var url = 'admin/choucha/'+id;
				form1.action = url;
				form1.submit();
				return true;
			},
			duixiang:function(id){
				id = id || '0';
				if(id==0){
					Alert('请先保存基础信息！');
					return false;
				}
				var url = 'admin/choucha/duixiang/'+id;
				form1.action = url;
				form1.submit();
				return true;
			},
			renyuan:function(id){
				id = id || '0';
				if(id==0){
					Alert('请先保存基础信息！');
					return false;
				}
				var url = 'admin/choucha/renyuan/'+id;
				form1.action = url;
				form1.submit();
				return true;
			},
			jichusave:function(id,choucha){
				choucha = choucha || 'WU';
				if(choucha=="任务完成" || choucha=="任务执行"){
					Alert('任务已生成，无法修改！');
					return false;
				}
				if(!validForm()) {
					return false;
				}
				loading1();
				id = id || '0';
				var url = 'admin/choucha/jichusave/'+id;
				form1.action = url;
				form1.submit();
				return true;
			}	
		};
		//显示Menu索引
		showMenu('page_zchoucha');
	});
	
	//分页
	var paginator = function(page) {
		oper.list();
	};
	

</script>

<%
};

var bodyContent = {
%>
	<form name="form1" action="" method="post"  class="form-inline" role="form">
		<!-- 菜单 -->
		<% include("/pages/template/menu.html"){} %>

<!--右侧部分布局开始-->
<div class="right-body">
    <!--右侧部分上部分布局开始-->
    <div class="head">
        <div class="head_one">
            <div class="navbar-custom-menu">
                <div class="nav-left">
                    <a href="admin/person"><img src="static/ssj/images/user_img.png" class="user-image"><span>${session.session_user.realname!session.session_user.username }</span></a>
                </div>
                <div class="nav-right"><a role="menuitem"  href="admin/logout"><img src="static/ssj/images/msg.png" class="user-image"></a></div>
            </div>
        </div>
        <div class="head_two">
            <!--<div class="nav-bar">旅游市场秩序监管“双随机”抽查系统</div>-->
            <div class="nav-bar-left"></div>
            <div class="nav-bar-right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!--右侧部分上部分布局结束-->

    <!--右侧部分下部分布局开始-->
    <div class="main">
		
		<div class="nav">
            <div class="nav-left">
                <img src="static/ssj/images/position.png">当前位置 : 新增抽查任务
            </div>
            <div class="nav-right">${nowTime} ${xingQi}</div>
        </div>

		<input type="hidden" name="model.id" value="${model.id}" />	
		<input type="hidden" name="model.choucha_status" value="${model.choucha_status}" />	
		<!--详细内容列表-->
		<div class="content form-group">
            <div class="content-body">
                <div class="content-body-head">
                    <span>新增抽查任务-基本信息</span>
                    <ul class="task_right">
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.jichu(${model.id!'0'});return false;">
                        <span class="task_right_before task_right-active"></span><span class="task_right task_right-active">基本信息</span>
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.duixiang(${model.id!'0'});return false;">
                        <span class="task_right_before"></span><span class="task_right">被查对象</span>
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.renyuan(${model.id!'0'});return false;">
                        <span class="task_right_before"></span><span class="task_right">执法人员</span>
                        </a>
                        </li>
                        <li><span class="task_right_before"></span><span class="task_right">生成任务</span></li>
                    </ul>
                </div>

                <div class="task-form">
                
                	<table class="table">
                		<tr>
							<td>任务日期</td>
							<td>
							<input class="form-control" type="text" name="model.choucha_begin" value="${model.choucha_begin }"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
		                    -
		                    <input class="form-control" type="text" name="model.choucha_end" value="${model.choucha_end  }"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />    
							</td>
						</tr>
                	
                		<tr>
							<td>任务名称</td>
							<td>
								<input class="form-control" type="text" name="model.name" value="${model.name }"  valid='vtext' validname='任务名称'  />	                        
							</td>
						</tr>
						<tr>
							<td>任务简介</td>
							<td>
								<textarea class="form-control"  name="model.jianjie" rows="6" cols="46">${model.jianjie }</textarea>
							</td>
						</tr>
						
						<tr>
							<td>抽查类型</td>
							<td>
							<input class="form-control" name="model.choucha_type" type="radio" value="不定向抽查" ${model.choucha_type=='不定向抽查'?"checked":"" }/>不定向抽查
							&nbsp;&nbsp;
		                    <input class="form-control" name="model.choucha_type" type="radio" value="定向抽查" ${model.choucha_type=='定向抽查'?"checked":"" }/>定向抽查
							</td>
						</tr>
						<tr>
							<td>抽取被查对象</td>
							<td>
							<input class="form-control" name="model.choucha_duixiang" type="radio" value="旅行社" ${model.choucha_duixiang=='旅行社'?"checked":"" } />旅行社
							&nbsp;&nbsp;
		                    <input class="form-control" name="model.choucha_duixiang" type="radio" value="导游" ${model.choucha_duixiang=='导游'?"checked":"" } />导游
		                    &nbsp;&nbsp;
		                    <input class="form-control" name="model.choucha_duixiang" type="radio" value="领队" ${model.choucha_duixiang=='领队'?"checked":"" } />领队
							</td>
						</tr>
                	</table>
                    
                    <div class="change-btn">
                        <ul class="task_right_reset">
                        	<li><a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.resetData();"><span>重置</span></a></li>
                        	<li><a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.jichusave(${model.id!'0'},'${model.choucha_status!'WU'}');return false;"><span>保存</span></a></li>
                            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"  onclick="oper.duixiang(${model.id!'0'});return false;"><span>下一步</span></a></li>
                        </ul>
                    </div>
                </div>

                
            </div>

        </div>

	</div>
    <!--右侧部分下部分布局结束-->
</div>		
</form> 		
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE; 
%>