<% 
	var headContent = {
	include("/pages/template/head.html"){}
%>

<script type="text/javascript">
		
	var oper;
	jQuery(function($) {
		// 页面方法
		//显示Menu索引
		showMenu('page_zchoucha');
	});
	
	//分页
	var paginator = function(page) {
		oper.list();
	};
</script>

<%
};

var bodyContent = {
%>
	<form name="form1" action="" method="post"  class="form-inline" role="form">
		<!-- 菜单 -->
		<% include("/pages/template/menu.html"){} %>

<!--右侧部分布局开始-->
<div class="right-body">
    <!--右侧部分上部分布局开始-->
    <div class="head">
        <div class="head_one">
            <div class="navbar-custom-menu">
                <div class="nav-left">
                    <a href="admin/person"><img src="static/ssj/images/user_img.png" class="user-image"><span>${session.session_user.realname!session.session_user.username }</span></a>
                </div>
                <div class="nav-right"><a role="menuitem"  href="admin/logout"><img src="static/ssj/images/msg.png" class="user-image"></a></div>
            </div>
        </div>
        <div class="head_two">
            <!--<div class="nav-bar">旅游市场秩序监管“双随机”抽查系统</div>-->
            <div class="nav-bar-left"></div>
            <div class="nav-bar-right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!--右侧部分上部分布局结束-->

    <!--右侧部分下部分布局开始-->
    <div class="main">
		
		<div class="nav">
            <div class="nav-left">
                <img src="static/ssj/images/position.png">当前位置 : 新增抽查任务
            </div>
            <div class="nav-right">${nowTime} ${xingQi}</div>
        </div>
		
		<!--详细内容列表-->
		<div class="content">
            <div class="content-body">
                <div class="content-body-head">
                    <span>新增抽查任务-被查对象</span>
                    <ul class="task_right">
                        <li><span class="task_right_before task_right-active"></span><span class="task_right task_right-active">基本信息</span></li>
                        <li><span class="task_right_before task_right-active"></span><span class="task_right task_right-active">被查对象</span></li>
                        <li><span class="task_right_before"></span><span class="task_right">执法人员</span></li>
                        <li><span class="task_right_before"></span><span class="task_right">生成任务</span></li>
                    </ul>
                </div>

                <div class="task-form">
                    
                    <div class="change-btn">
                        <ul class="task_right_reset">
                            <li><a href="admin/choucha/renyuan"><span>下一步</span></a></li>
                        </ul>
                    </div>
                </div>

                
            </div>

        </div>

	</div>
    <!--右侧部分下部分布局结束-->
</div>		
</form> 		
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>