<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
						<tr>
				<td>抽查开始时间</td>
				<td>${model.choucha_begin}</td>
			</tr>
						<tr>
				<td>抽查结束时间</td>
				<td>${model.choucha_end}</td>
			</tr>
						<tr>
				<td>任务名称</td>
				<td>${model.name}</td>
			</tr>
						<tr>
				<td>抽取方式</td>
				<td>${flyfox.dictValuesj(model.choucha_type)  }</td>
			</tr>
						<tr>
				<td>任务状态</td>
				<td>${flyfox.dictValuesj(model.choucha_status)  }</td>
			</tr>
			<tr>
				<td>检查结果</td>
				<td>${model.result}</td>
			</tr>
		
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>