<style>
<!--
body { padding-top: 51px; }
-->
</style>
<script type="text/javascript">
	function showMenu(id){
		$("#"+id).addClass('active');
		if($("#"+id).parent().is('.treeviewssj-menu')){
			$("#"+id).parent().parent().children('a').addClass('active');
			$("#"+id).parent().removeClass('hide');
		}
	}
	
	$(function(){
		$(window).resize(function(){
			$('body').css('padding-top',$('nav.navbar.navbar-fixed-top').height()+'px');
		});
		$('body').css('padding-top',$('nav.navbar.navbar-fixed-top').height()+'px');
	});
	
</script>



<link rel="stylesheet" type="text/css" href="static/ssj/css/common.css">
<link rel="stylesheet" type="text/css" href="static/ssj/css/general.css">
<link rel="stylesheet" type="text/css" href="static/ssj/css/task.css">
<link rel="stylesheet" type="text/css" href="static/ssj/css/select.css">
<link rel="stylesheet" type="text/css" href="static/ssj/css/ssjbtn.css">    
    
<!--左侧菜单布局开始-->
<div class="left-body">
    <section class="sidebar">
        <div class="sidebar-logo"></div>
        <div class="sidebar-menu">
            <ul>
            
            	<% for(item in session.menu[0]) { %>
					<% if(session.menu[item.id].~size > 0) { %>
							  		 		
				  		<li class="treeviewssj" id="page_${item.urlkey}">
		                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		                        <i class="fa"><img src="static/ssj/images/page_${item.urlkey}.png"></i>
		                        <span>${item.name}</span>
		                    </a>
		                    <ul class="hide treeviewssj-menu">
		                    	<%  for(item2 in session.menu[item.id]) { %>
		                    		<li id="page_${item2.urlkey}">
			                            <a href="${item2.url}">
			                                <span>${item2.name}</span>
			                            </a>
			                        </li>
								<% } %>
		                        
		                    </ul>
		                </li>
				  		
				  		
					<% } else { %>
						<li class="treeviewssj" id="page_${item.urlkey}">
		                    <a href="${item.url}">
		                        <i class="fa"><img src="static/ssj/images/page_${item.urlkey}.png"></i>
		                        <span>${item.name}</span>
		                    </a>
		                </li>
					<% } %>
				<% } %>
            
            </ul>
        </div>
    </section>
</div>
<!--左侧菜单布局结束-->


<input type="hidden" name="form.orderColumn" value="${form.orderColumn!''}" />
<input type="hidden" name="form.orderAsc" value="${form.orderAsc!''}" />
<script>
$('.treeviewssj a').click(function(){
    $(this).parent().siblings().children('ul').addClass('hide');
    var ul = $(this).next();
    if (ul.hasClass('hide')) {
        ul.removeClass('hide');
    } else {
        ul.addClass('hide');
    }
    $(this).parent().addClass('active').siblings().removeClass('active');
})

</script>