<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
jQuery(function($) {
	//显示Menu索引
	showMenu('page_system');
	showMenu('page_operation');
});

function updateCache(){
	jQuery.ajax({
		type:'POST',
		url:'admin/operation/updateCache',
		success:function(data){
			if(data.status==1){
				Alert('更新成功');
			} else {
				Alert('更新失败');
			}
		},
		error:function(html){
			var flag = (typeof console != 'undefined');
			if(flag) console.log("服务器忙，提交数据失败，代码:" +html.status+ "，请联系管理员！");
			Alert("服务器忙，提交数据失败，请联系管理员！");
		}
	});
}
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	
	<!-- 菜单 -->
	<% include("/pages/template/menu.html"){} %>

<!--右侧部分布局开始-->
<div class="right-body">
    <!--右侧部分上部分布局开始-->
    <div class="head">
        <div class="head_one">
            <div class="navbar-custom-menu">
                <div class="nav-left">
                    <a href="admin/person"><img src="static/ssj/images/user_img.png" class="user-image"><span>${session.session_user.realname!session.session_user.username }</span></a>
                </div>
                <div class="nav-right"><a role="menuitem"  href="admin/logout"><img src="static/ssj/images/msg.png" class="user-image"></a></div>
            </div>
        </div>
        <div class="head_two">
            <!--<div class="nav-bar">旅游市场秩序监管“双随机”抽查系统</div>-->
            <div class="nav-bar-left"></div>
            <div class="nav-bar-right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!--右侧部分上部分布局结束-->

    <!--右侧部分下部分布局开始-->
    <div class="main">
		
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
	  	<div style="margin-top: 20px;">
	  	<span style="color: green;">更新索引：缓存更新成功</span>
	  	</div>
	  	<div style="margin-top: 10px;">
		<button class="btn btn-primary" onclick="updateCache();return false;">更新索引</button>
		</div>
	  </div>


	</div>
    <!--右侧部分下部分布局结束-->
</div>
	  
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>
