<% 
	var headContent = {
	include("/pages/template/head.html"){}
%>

<script type="text/javascript">
		
	var oper;
	jQuery(function($) {
		// 页面方法
		oper = {
			width : 400,
			height : 500,
			form : document.form1,
			list : function() {
				var url = 'admin/lingdui/list';
				this.form.action = url;
				this.form.submit();
			},
			view : function(id) {
				var url = 'admin/lingdui/view/'+id;
				var title = '查看';
				Iframe(url, this.width, this.height, title);
			},
			add : function() {
				var url = 'admin/lingdui/add';
				var title = '添加';
				Iframe(url, this.width, this.height, title);
			},
			edit : function(id) {
				var url = 'admin/lingdui/edit/'+id;
				var title = '修改';
				Iframe(url, this.width, this.height, title);
			},
			del : function(id) {
				var url = 'admin/lingdui/delete/'+id;
				var title = '确认要删除该信息？';
				Confirm(title, function() {
					form1.action = url;
					form1.submit();
				});
			}
		};
		//显示Menu索引
		showMenu('page_ssj_lingdui');
	});
	
	//分页
	var paginator = function(page) {
		oper.list();
	};
</script>

<%
};

var bodyContent = {
%>
<form name="form1" action="" method="post"  class="form-inline" role="form">
		<input type="hidden" name="form.orderColumn" value="${form.orderColumn!''}" />
		<input type="hidden" name="form.orderAsc" value="${form.orderAsc!''}" />
			
		<!-- 菜单 -->
		<% include("/pages/template/menu.html"){} %>

<!--右侧部分布局开始-->
<div class="right-body">
    <!--右侧部分上部分布局开始-->
    <div class="head">
        <div class="head_one">
            <div class="navbar-custom-menu">
                <div class="nav-left">
                    <a href="admin/person"><img src="static/ssj/images/user_img.png" class="user-image"><span>${session.session_user.realname!session.session_user.username }</span></a>
                </div>
                <div class="nav-right"><a role="menuitem"  href="admin/logout"><img src="static/ssj/images/msg.png" class="user-image"></a></div>
            </div>
        </div>
        <div class="head_two">
            <!--<div class="nav-bar">旅游市场秩序监管“双随机”抽查系统</div>-->
            <div class="nav-bar-left"></div>
            <div class="nav-bar-right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!--右侧部分上部分布局结束-->

    <!--右侧部分下部分布局开始-->
    <div class="main">
		
		<div class="nav">
            <div class="nav-left">
                <img src="static/ssj/images/position.png">当前位置 : 市场主体管理
            </div>
            <div class="nav-right">${nowTime} ${xingQi}</div>
        </div>
		
		<!--详细内容列表-->
        <div class="content tableSearch">
            <div class="content-body">
                <div class="content-body-head">
                    <span>领队管理</span>
                    <div class="ssj-btn ssj-btn-active" onclick="oper.add();"><img src="static/ssj/images/add_one.png"><p>新增</p></div>
                    <!-- <div class="ssj-btn"><img src="static/ssj/images/del_btn_one.png"><p>删除</p></div> -->
                    <div class="ssj-btn ssj-btn-active"><img src="static/ssj/images/error_btn_one.png"><p>异常记录</p></div>
                    <div class="search-right">
                        <div class="search">
                            <input type="text" name="attr.name" value="${attr.name!''}" placeholder="请输入领队名称" />
                            <div class="search-btn" onclick="oper.list();"></div>
                            <button class="search-btn" onclick="oper.list();" name="search" hidden="hidden"></button>
                        </div>
                        <div class="book_add"></div>
                    </div>

                </div>
                <div class="box-body">
                
                    <table class="table table-striped table-bordered table-hover">
                            <thead>
								<tr>
									<th>序号</th>
									<%  // 列表头部 %>
									<th>姓名</th> 
									<th>性别</th> 
									<th>语种</th> 
									<th>等级</th>
									<th>电子导游证号</th>
									<th>所在旅行社</th>
									<th>是否异常</th>
				 					<th>操作</th>
								</tr>
							</thead>
                            <tbody>
							<% for(item in page.list){ %>
								<tr>
									<td>${itemLP.index }</td>
									<%  // 列表内容 %>
									<td>${item.name}</td> 
									<td>${flyfox.dictValue(item.sex)  }</td> 
									<td>${flyfox.dictValue(item.language)  }</td> 
									<td>${flyfox.dictValue(item.dy_level)  }</td>
									<td>${item.dy_code}</td>
									<td>${item.dy_lxs}</td> 
									<td>否</td>
								<td>
								<a href="javascript:void(0);" class="btn btn-sm btn-success" onclick="oper.view(${item.id});">查看</a> 
								<a href="javascript:void(0);" class="btn btn-sm btn-primary" onclick="oper.edit(${item.id});">修改</a> 
								<a href="javascript:void(0);" class="btn btn-sm btn-danger" onclick="oper.del(${item.id});">删除</a>
								</td>
								</tr>
							<% } %>
							</tbody>
                            
                    </table>
                    <%include("/pages/includes/paginator.html"){} %>
                   
                </div>

                <!--分页-->
                
            </div>

        </div>
		

	</div>
    <!--右侧部分下部分布局结束-->
</div>		
</form> 		
	
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>