<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
						<tr>
				<td>姓名</td>
				<td>${model.name}</td>
			</tr>
			<tr>
				<td>性别</td>
				<td>${flyfox.dictValue(model.sex)  }</td>
			</tr>
						<tr>
				<td>所属区域</td>
				<td>${flyfox.dictValue(model.quyu)  }</td>
			</tr>
						<tr>
				<td>所属部门</td>
				<td>${flyfox.dictValue(model.bumen)  }</td>
			</tr>
						<tr>
				<td>职务</td>
				<td>${flyfox.dictValue(model.zhiwu)  }</td>
			</tr>
						<tr>
				<td>身份证号</td>
				<td>${model.sfzheng}</td>
			</tr>
						<tr>
				<td>执法证号</td>
				<td>${model.zfzheng}</td>
			</tr>
						<tr>
				<td>手机号码</td>
				<td>${model.phone}</td>
			</tr>
						<tr>
				<td>备注</td>
				<td>${model.beizhu}</td>
			</tr>
		
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>