<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>

<script type="text/javascript">
	var oper;
	jQuery(function($) {
		// 页面方法
		oper = {
			form : document.form1,
			list : function() {
				var url = 'admin/home';
				this.form.action = url;
				this.form.submit();
			}
		};
		//显示Menu索引
		showMenu('page_home');
	});
	
</script>

<%
};
%>

<%
var bodyContent = {
%>
<!-- 菜单 -->
<% include("/pages/template/menu.html"){} %>

<link rel="stylesheet" type="text/css" href="static/ssj/css/ssjbtn.css">

<!--右侧部分布局开始-->
<div class="right-body">
    <!--右侧部分上部分布局开始-->
    <div class="head">
        <div class="head_one">
            <div class="navbar-custom-menu">
                <div class="nav-left">
                    <a href="admin/person"><img src="static/ssj/images/user_img.png" class="user-image"><span>${session.session_user.realname!session.session_user.username }</span></a>
                </div>
                <div class="nav-right"><a role="menuitem"  href="admin/logout"><img src="static/ssj/images/msg.png" class="user-image"></a></div>
            </div>
        </div>
        <div class="head_two">
            <!--<div class="nav-bar">旅游市场秩序监管“双随机”抽查系统</div>-->
            <div class="nav-bar-left"></div>
            <div class="nav-bar-right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!--右侧部分上部分布局结束-->

    <!--右侧部分下部分布局开始-->
    
    <!--右侧部分下部分布局结束-->
</div>

<%
	// 传递变量  
	// 文章列表 articlelist 必填
	// 默认图片 defalutimg 选填
	var sessionUserId = isEmpty(session.session_user) ? 0: session.session_user.userid;
%>


<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>
